.ListItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
  min-width: 0;
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
  border-radius: var(--radius-md);
  background-color: transparent;
  color: var(--color-text);
  transition:
    background-color var(--transition-duration-basic) var(--cubic-enter),
    transform var(--transition-duration-basic) var(--cubic-enter);
}
