:root {
  --cubic-enter: cubic-bezier(0.19, 1, 0.22, 1);
  --cubic-exit: cubic-bezier(0.8, 0, 0.4, 1);
  --cubic-exit-snappy: cubic-bezier(0.65, 0, 0.4, 1);
  --cubic-move: cubic-bezier(0.65, 0, 0.35, 1);
  --transition-duration-basic: 150ms;
  --transition-ease-basic: ease;
}
